.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
node_modules/**
!node_modules/@xmldom
!node_modules/@xmldom/**
.git/**
**/*.vsix 