.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
!node_modules/@xmldom
!node_modules/@xmldom/**
!node_modules/minimatch
!node_modules/minimatch/**
!node_modules/brace-expansion
!node_modules/brace-expansion/**
!node_modules/balanced-match
!node_modules/balanced-match/**
.git/**
**/*.vsix 